{% extends 'App_1/base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="row">
  <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-body">
        <p class="display-6">Editar contactos</p>
        <hr />

        <form action="" method="POST" id="form">
          {% csrf_token %} {{ form | crispy }}

          <hr />
          <div class="d-grid gap-1">
            <button type="submit" id="btn-enviar" class="btn btn-info">Editar</button>
            <a href="{% url 'app:listar' %}" class="btn btn-danger">Atras</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
